// $theme-building: false !default;
//
// @if $theme-building != true {
//   @import "./colors";
// }
//
// @import "./globals";
// @import "./mixins";

// @import "./framework/fonts.scss";

@import "~bootstrap/scss/_variables.scss";
@import "./framework/variables.scss";
// Retro-compatibility with Bootstrap3 styles
$screen-xs-max: #{map-get($grid-breakpoints, 'sm') - 1};
$screen-sm-max: #{map-get($grid-breakpoints, 'md') - 1};
$screen-md-max: #{map-get($grid-breakpoints, 'lg') - 1};

// Theme
@import "./gitlab_theme.scss";
$color-light: #AADDCC;
$color: $theme-green;
$color-darker: #018865;
$color-dark: #017855;

@import "~bootstrap/scss/_mixins.scss";
@import "./framework/mixins.scss";
