@import "~react-toolbox/lib/colors";

//
// App theme

$theme_blue: hsl(203, 63%, 44%);
$theme_charcoal: hsl(213, 16%, 23%);
$theme_graphite: hsl(0, 0%, 53%);
$theme_gray: hsl(0, 0%, 21%);
$theme_green: hsl(166, 98%, 30%);
$theme_violet: hsl(255, 33%, 40%);

$theme_color: $theme_blue;
// $theme_color_accent: $palette-pink-a200;
$theme_color_accent: $palette-pink-a200;

//
// Toolbox theme

$color-divider: $palette-grey-200 !default;
$color-background: $color-white !default;
$color-text: $palette-grey-900 !default;
$color-text-secondary: $palette-grey-600 !default;

// $color-primary: $palette-indigo-500 !default;
// $color-primary-dark: $palette-indigo-700 !default;

$color-primary: $theme_color !default;
$color-primary-dark: darken($theme_color, 10%) !default;

// $color-primary: $palette-blue-500;
// $color-primary-dark: $palette-blue-700;

$color_accent: $palette-pink-a200 !default;
$color-accent-dark: $palette-pink-700 !default;

$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;
