
@import "./variables";
@import "./theme";

:global(.md-18) {
  font-size: 18px;
}
:global(.md-24) {
  font-size: 24px;
}
:global(.md-36) {
  font-size: 36px;
}
:global(.md-48) {
  font-size: 48px;
}

// html {
//   font-size: calc(112.5% + 0.25vw)
// }
