
@import "./globals";
@import "./theme";

html {
  height: 100%;
}
body {
  min-height: 100%;
  user-select: none;
}

:global(.md-18) {
  font-size: 18px;
}
:global(.md-24) {
  font-size: 24px;
}
:global(.md-36) {
  font-size: 36px;
}
:global(.md-48) {
  font-size: 48px;
}

:global(.md-spin) {
  animation: md-spin 2s infinite linear;
}
@keyframes md-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

// html {
//   font-size: calc(112.5% + 0.25vw)
// }
