/**
 * Prefilled mixins
 * Mixins with fixed values
 */

@mixin shade {
  @include box-shadow(0 0 3px #ddd);
}

@mixin solid-shade {
  @include box-shadow(0 0 0 3px #f1f1f1);
}

@mixin str-truncated($max_width: 82%) {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  max-width: $max_width;
}

/*
 * Base mixin for lists in GitLab
 */
@mixin basic-list {
  margin: 5px 0px;
  padding: 0px;
  list-style: none;

  > li {
    @include clearfix;

    padding: 10px 0;
    border-bottom: 1px solid #EEE;
    display: block;
    margin: 0px;

    &:last-child {
      border-bottom: none;
    }

    &.active {
      background: #f9f9f9;
      a {
        font-weight: 600;
      }
    }

    &.hide {
      display: none;
    }

    &.light {
      a {
        color: $gl-gray;
      }
    }
  }
}
