@import "./config";

.root {
  display: flex;
  flex-direction: row;

  height: $navbar_height;
  padding: 0 20px;

  border-bottom: 1px solid #EEE;
  background-color: #fff;

  .title {
    overflow: hidden;

    margin: 0;

    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #4c4e54;

    font-size: 19px;
    font-weight: normal;
    line-height: $navbar_height;

    flex: 1 0 auto;
  }

  ul.nav {
    display: flex;
    flex-direction: row;
    // align-items: center;

    justify-content: space-between;
    li {
      display: block;

      padding: 0 8px;

      list-style: none;

      text-align: center;

      line-height: $navbar_height;
      a {
        color: #7f8fa4;

        font-size: 18px;
      }
    }
  }
}
