/*
 * Projects top area
 */

.top-area {
  border-bottom: 1px solid #EEE;

  ul.nav-links {
    display: inline-block;
    width: 50%;
    margin-bottom: 0px;
    border-bottom: none;
  }

  .projects-search-form {
    width: 50%;
    display: inline-block;
    float: right;
    padding-top: 11px;
    text-align: right;

    .btn-green {
      margin-left: 10px;
      float: right;
    }
  }

  @media (max-width: $screen-xs-max) {
    .projects-search-form {
      padding-top: 15px;
    }
  }
}

.projects-search-form {
  padding: $gl-padding 0;
  padding-bottom: 0;
  margin-bottom: 0px;

  input {
    display: inline-block;
    width: calc(100% - 151px);
  }

  .btn {
    display: inline-block;
    width: 135px;
  }
}


/*
 * Projects list rendered on dashboard and user page
 */

.projects-list {
  @include basic-list;

  .project-row {
    padding: $gl-padding 0;
    border-color: $table-border-color;

    &.no-description {
      .project {
        line-height: 44px;
      }
    }

    .project-full-name {
      @include str-truncated;
      font-weight: 600;
      color: #4c4e54;
    }

    .project-controls {
      float: right;
      color: $gl-gray;
      line-height: 45px;
      color: #7f8fa4;

      a:hover {
        text-decoration: none;
      }
    }

    .project-description {
      color: #7f8fa4;

      p {
        @include str-truncated;
        margin-bottom: 0;
        color: #7f8fa4;
      }
    }
  }

  .bottom {
    padding-top: $gl-padding;
    padding-bottom: 0;
  }
}
