$background_color: darken($theme_color, 4%);
$active_item_background_color: darken($theme_color, 7%);
$top_background_color: $theme_color;
$top_border_color: $theme_color;
$text_color: desaturate(lighten($theme-color, 50%), 56%);

// color: #555555; <-- default

$sidebar_width: 230px;
$sidebar_collapsed_width: 62px;
$header_height: 58px; // global
