@import "~react-toolbox/lib/commons";

.root {
  display: flex;
  overflow: hidden;
  flex-direction: row;

  height: 100vh;
  min-height: 100vh;

  .sidebar {
    order: -1;
    flex: 0 0 auto;
  }

  .main {
    display: flex;
    flex-direction: column;

    order: 0;
    flex: 1 1 auto;

    .navbar {
      order: -1;
      flex: 0 0 auto;
    }

    .content {
      // overflow-y: scroll; // has to be scroll, not auto
      // -webkit-overflow-scrolling: touch;
      order: 0;
      flex: 1 1 auto;
      max-height: 100%;
      display: flex;
      // react-router
      > section {
        flex: 1 1 auto;
      }
    }
  }
}
